Readme.md

We will be translating the language 

1. Source language
2. Source text 
3. to convert language

We will be working with the concurrecy in this project 


-> Sequential Processing

